{
  "semi": false,
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.vue",
      "options": {
        "parser": "vue"
      }
    }
  ]
}
